<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165215948050-kfob554aperg3pjo59mpga9eooh1onpb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165215948050-kfob554aperg3pjo59mpga9eooh1onpb</string>
	<key>API_KEY</key>
	<string>AIzaSyAlsy6qtNFnSvtiTMYxClfeLII2dOl8ZuA</string>
	<key>GCM_SENDER_ID</key>
	<string>165215948050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>caileyambersmith.WellbeingAndMindfulApp</string>
	<key>PROJECT_ID</key>
	<string>wellbeingandmindfulapp</string>
	<key>STORAGE_BUCKET</key>
	<string>wellbeingandmindfulapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165215948050:ios:563d4292064bf9101b37cb</string>
</dict>
</plist>